
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 31.1rem;
}.ayo-cantumkan-karyamu-di-7-blog-T2X {
  height: 8.8rem;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
}
