
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 56.7rem;
}.m507t0021aillustrationcomputer-removebg-preview-1-sc3 {
  width: 100%;
  height: 50.1rem;
  object-fit: cover;
  vertical-align: top;
}
